.btn-primario{
    background-color:cornflowerblue ;
    color: white;
    border:cornflowerblue 2px solid ;

}

.btn-primario:hover{
    background-color:white ;
    border:limegreen ;
    color: limegreen;
    text-decoration: underline;

    
}

.btn-secundario:hover{
    background-color:white ;
    border:limegreen ;
    color: limegreen;
    text-decoration: underline;


}
