.nuestro-servicio{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: limegreen;
    margin-top: 8rem;
}
.servicio-img{
display: flex;
margin-left: 2rem;
}